alembic
azure-common
azure-nspkg
azure-storage-blob
certifi
cffi
chardet
Click
cryptography
Flask==2.0.3
Flask-Login==0.5.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
idna
itsdangerous
Jinja2
Mako
MarkupSafe
msal
pycparser
pyodbc
pyopenssl
python-dateutil
python-editor
requests
six
SQLAlchemy
urllib3
Werkzeug==2.0.3
WTForms
